* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: Courier;
}

body {
  padding: 12px;
}

#amf_terminal {
  font-size: 1em;
  padding: 3px;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  color: #0f0;
  font-weight: bold;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba($green, 0.75);
  line-height: 0.2;
}

#amf_terminal input {
  outline: none;
  background: #000 !important;
  font-family: Courier;
  border: 0px;
  -webkit-appearance: none;
  padding: 0;
    letter-spacing: 0.01em;
  margin: 0;
  color: #0f0;
  width: 90%;
  margin-top:-14px;
    font-weight: bold;
  font-size: 1em;
  line-height: 0.3;
  margin-bottom: 0.75em;
}

#amf_terminal p {
  margin-bottom: 0.75em;
}